
body{
        color: black;
    padding-top: 60px;
    padding-left: 130px;
}
.text{
padding-bottom: 70px;
  font-family: "Roboto", sans-serif;
}

.text h1{
    font-size: 50px;
}

.text p{
    opacity: 50%;
}

.name{
    font-size: 20px;
  font-family: "Roboto", sans-serif;
  /* padding-bottom: 150px ; */

}

.form{
    padding-bottom: 40px;
}
.input{
    border: 1px solid #333;
    box-shadow: 2px 2px 2px 2px rgb(0, 0, 0 , 0.3) ;
    border-radius: 5px;
    padding: 20px;
    margin: 15px;
    padding-right: 355px;

}

button{
  text-decoration: none;
}

.submit button{
    background-color: black;
    display: flex;
    justify-content: center;  
    padding: 20px;  
    border-radius: 10px;
    width: 250px;
    font-size: 25px;
  transition: .9s ease;
    text-decoration: none;
    color: white;
  font-family: "Roboto", sans-serif;
}

/* .submit button{

  transition: .9s ease; 

} */


.submit button:hover{
transform: scale(1.1);

}

.forget {
    display: flex;
    justify-content: center;  
    width: 150px;
}

.forget a{
    text-decoration: none;
    color: black;
    font-size: 17px;
  font-family: "Roboto", sans-serif;
opacity: 70%;
}